*
!.gitignore

!wavedrom
!wavedrom/axis_interface
!wavedrom/axis_interface/*
!wavedrom/uart_interface
!wavedrom/uart_interface/*
!wavedrom/rx_waveform
!wavedrom/rx_waveform/*
!wavedrom/tx_waveform
!wavedrom/tx_waveform/*

!yEd
!yEd/*

!docs
!docs/*

!hdl
!hdl/header
!hdl/header/*
hdl/header/test_set.svh
!hdl/header/test_sets
!hdl/header/test_sets/*
!hdl/source
!hdl/source/*.sv
!hdl/source/*.v
!hdl/testbench
!hdl/testbench/*
!hdl/project_top
!hdl/project_top/*

!tcl
!tcl/*

!constraints
!constraints/*